!!!
%html
  %head
    %title Apps running in cf.
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/style.css'}

  %body
    .apps
      - @cf_data.each do |org|
        %h1.org
          = org[:name]
          - org[:spaces].each do |space|
            %h2.space
              = space[:name]
              - space[:apps].each do |app|
                %h3.app
                  .circle{"healthy" => "#{app[:healthy]}"}
                  = "#{app[:name]} #{app[:instance_count]}"
                  - app[:urls].each do |url|
                    .url
                      %a{:href => "#{url}"}> #{url}
    .bosh
      - @vm_data.each do |vm|
        %h3.heh
          .circle{"state" => "#{vm['job_state']}"}
          = "#{vm['job_name']}/#{vm['index']}"
